<div class="inner-container">
 
        </div>
  <section id="welcome">
  <section class="intro" style="height: 500px;">
    <div class="background-image-container">

      <article id="walkers-welcome">
        <div class="fade"></div>
        <div class="inner-container">
          <aside>
            <h1>
              For Dogwalkers
            </h1>
            <p>
              Find dogs to walk.
            </p>
          </aside>
                    <form class="description" id="new_user" method="get" action="#" accept-charset="UTF-8" style="top: 50%; margin-top: -207px;"><header>
            <h1>
              Dogwalkers
            </h1>
          </header>
          <p>
            Connect with dog-owners with our <br>simple-to-use mobile app.  Get jobs galore!
          </p>
          <p>
            <label for="user_gender">I’m a</label>
            <select autofocus="" id="user_gender" name="user[gender]">
            <option value="male">man</option>
            <option value="female" selected="">woman</option></select>
            <label for="user_orientation">interested in</label>
            <select id="user_orientation" name="user[orientation]">
            <option value="men" selected="">men</option>
            <option value="women">women</option>
            <option value="both">both</option></select>
          </p>
          <p>
            <label for="user_age_range_lower">age</label>
            <input alt="e.g. 25" id="user_age_range_lower" maxlength="2" name="user[age_range_lower]" placeholder="25" size="2" type="tel">
            <label for="user_age_range_upper">to</label>
            <input alt="e.g. 45" id="user_age_range_upper" maxlength="2" name="user[age_range_upper]" placeholder="45" size="2" type="tel">
            <label for="zipcode">near</label>
            <span class="location">
              <input data-field="location_id" id="zipcode" maxlength="5" name="zipcode" placeholder="zip" size="5" type="tel">
            </span>
            <input name="user[landing_page_code]" type="hidden" value="unified-commercial">
          </p>
          <div class="action">
            <input class="white_bordered_button" type="submit" value="Get Started">
            <span>
              Already a member?
              <a class="walkers-login" href=#>
                Login »
              </a>
            </span>
          </div>
          </form>

        </div>
        <div class="mask"></div>
      </article>
      <article id="owners-welcome">
        <div class="fade"></div>
        <div class="inner-container">
          <aside>
            <h1>
              For Owners
            </h1>
            <p>
              Find a dogwalker! </p>
          </aside>
          <div class="description" style="top: 50%; margin-top: -207px;">
            <header>
              <h1>
                Owners
              </h1>
            </header>
            <p>
              Find reliable dogwalkers.
              </p><div class="action">
                <a class="forward-params white_bordered_button" href=#>
                  Get Started
                </a>
                <span class="button-spacer">
                  or
                </span>
                <a class="forward-params white_bordered_button facebook" href=#>
                  <span class="icon-facebook"></span>
                  Connect
                </a>
              </div>
              <div class="action_links">
                <span>
                  Already a member?
                  <a class="forward-params" href=#>
                    Login »
                  </a>
                </span>
              </div>
            <p></p>
          </div>
        </div>
        <div class="mask"></div>
      </article>
    </div>
  </section>
 