@charset "utf-8";

.txt-center {
	text-align:center;
}

.txt-right {
	text-align:right;
}

.row-pad {
	padding-left:200px;
	padding-right:200px;
}

/*Margin Tops*/

.margin-top-30 {
	margin-top:30px;
}

.margin-top-20 {
	margin-top:20px;
}

.margin-top-10 {
	margin-top:10px;
}


