// import the CSS framework
@import "bootstrap";

// make all images responsive by default
img {
  @extend .img-responsive;
  margin: 0 auto;
}


body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif !important;
  font-size: 14px;
  line-height: 1.428571429;
  background-color: #797a7a ;
}

// override for the 'Home' navigation link
.navbar-brand {
  position:fixed;
  top: -10px;
  left: 5px;
  padding: 13px 13px 0 13px
}

.navbar-inverse {
  background-color: #0066CC;
  border-color: #006666;
}

.navbar-nav {
  margin-left: 170px;
}

.navbar-inverse .navbar-nav > li > a {
    color: #E0E0E0; }
    .navbar-inverse .navbar-nav > li > a:hover, .navbar-inverse .navbar-nav > li > a:focus {
      color: white;
      background-color: transparent; }

// THESE ARE EXAMPLES YOU CAN MODIFY
// create your own classes
// to make views framework-neutral
.column {
  @extend .col-md-6;
  @extend .text-center;
}
.form {
  @extend .col-md-6;
}
.form-centered {
  @extend .col-md-6;
  @extend .text-center;
}
.submit {
  @extend .btn;
  @extend .btn-primary;
  @extend .btn-lg;
}

.btn {
  -webkit-transition: background 0.5s linear;
  -moz-transition: background 0.5s linear;
  -ms-transition: background 0.5s linear;
  -o-transition: background 0.5s linear;
  transition: background 0.5s linear;        
}
// apply styles to HTML elements
// to make views framework-neutral

main {
  @extend .container;
  background-color: white;
  padding-bottom: 80px;
  width: 100%;
  margin-top: 51px;
}

section {
  @extend .row;
}

.container {
  .new_user_row {
    margin-top: 25%;
    .new_user {
      .input-group {
        input {
          background-color: #282a38;
          border: 0px;
          border-radius: 0px;
          padding: 20px 15px;
          font-weight: bold;
        }
      }
    }    
  }
}

.input-group {
  margin-bottom: 20px;
  border: 1px solid #7a8086;
  i {
    background-color: #1c1f25;
    border: 0px;
    border-radius: 0px;
    padding: 10px 20px;
  }
}

.facebook_icon {
  background-color: #ccc !important;
  padding: 13px 25px !important;
  width: 16%;
}

.facebook_link {
  width: 100%;
  background-color: #4c66a4;
  -webkit-transition: background-color 300ms linear;
  -moz-transition: background-color 300ms linear;
  -o-transition: background-color 300ms linear;
  -ms-transition: background-color 300ms linear;
  transition: background-color 300ms linear;
  span {
    padding: 10px 25px;
    position: absolute;
    color: #FFF;
    font-weight: bold;
  }
  span:hover {
    text-decoration: none;
    color: #FFF;
  }
}

.facebook_link:hover {
  background-color: #235B97;  
}

.register_link {
  background-color: #e66060;
}

.register_link:hover {
  background-color: #ec574b;  
}

.btn-block {
  @extend .btn-primary;
  border-radius: 0px;
}

.signin {
  width: 100px !important;
  float: right;
  padding: 10px;
  font-weight: bold;
  background: #3e4764;
  border: 1px solid #7a8086;
  margin-bottom: 20px;
}

.circle {
  width: 100px;
  height: 100px;
  -moz-border-radius: 50%; 
  -webkit-border-radius: 50%; 
  border-radius: 50%;
  background: #3e4764;
  margin: 0 auto;
  padding: 40px;
  font-weight: bold;
}
.signin:hover {
  background: #1E2B46;
}

input[type="checkbox"] {
  display: none;
}

input[type="checkbox"] + label span {
  display: inline-block;
  display:inline-block;
  width:19px;
  height:19px;
  margin:-1px 4px 0 0;
  vertical-align:middle;
  background: url(check_radio_sheet.png) left top no-repeat; 
  cursor:pointer;
}

input[type="checkbox"]:checked + label span{
  background: url(check_radio_sheet.png) -19px top no-repeat;
}

.register_form {
  background: #505050;
  padding: 20px; 
  input[type="text"], input[type="password"], input[type="email"] {
    background: #404040;
    padding: 20px 0 20px 20px; 
    border: 0px;
    border-radius: 0px;
  }
  input {
    font-weight: bold;
  }
}

.btn-sign-up {
  background: #FF8627;
  border: none;
  padding: 10px;
}

.btn-sign-up:hover {
  background: #ff6610;
}

.edit_form_image {
  padding: 10px 0;
  background: #FFF;
  border: 1px solid;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  i {
    font-size: 50px;
    color: #ffffff;
    border-radius: 50%;
    border: 3px solid #E7E7E7;
    padding: 15px 20px;
    background: #f6f8f9;
    background: -moz-linear-gradient(-45deg, #f6f8f9 0%, #e5ebee 50%, #d7dee3 51%, #f5f7f9 100%);
    background: -webkit-gradient(linear, left top, right bottom, color-stop(0%, #f6f8f9), color-stop(50%, #e5ebee), color-stop(51%, #d7dee3), color-stop(100%, #f5f7f9));
    background: -webkit-linear-gradient(-45deg, #f6f8f9 0%, #e5ebee 50%, #d7dee3 51%, #f5f7f9 100%);
    background: -o-linear-gradient(-45deg, #f6f8f9 0%, #e5ebee 50%, #d7dee3 51%, #f5f7f9 100%);
    background: -ms-linear-gradient(-45deg, #f6f8f9 0%, #e5ebee 50%, #d7dee3 51%, #f5f7f9 100%);
    background: linear-gradient(135deg, #f6f8f9 0%, #e5ebee 50%, #d7dee3 51%, #f5f7f9 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f6f8f9', endColorstr='#f5f7f9', GradientType=1);  
  }
}

#wrapper {
  padding-left: 250px;
  transition: all 0.4s ease 0s;
}

#sidebar-wrapper {
  margin-left: -250px;
  left: 250px;
  width: 250px;
  background: #000;
  position: fixed;
  height: 100%;
  overflow-y: auto;
  z-index: 1000;
  transition: all 0.4s ease 0s;
}

#page-content-wrapper {
  width: 100%;
}

.sidebar-nav {
  position: absolute;
  top: 0;
  width: 250px;
  list-style: none;
  margin: 0;
  padding: 0;
}

.sidebar-nav li {
  line-height: 40px;
  text-indent: 20px;
}

.sidebar-nav li a {
  color: #999999;
  display: block;
  text-decoration: none;
}

.sidebar-nav li a:hover {
  color: #fff;
  background: rgba(255,255,255,0.2);
  text-decoration: none;
}

.sidebar-nav li a:active,
.sidebar-nav li a:focus {
  text-decoration: none;
}

.sidebar-nav > .sidebar-brand {
  height: 65px;
  line-height: 60px;
  font-size: 18px;
}

.sidebar-nav > .sidebar-brand a {
  color: #999999;
}

.sidebar-nav > .sidebar-brand a:hover {
  color: #fff;
  background: none;
}

.content-header {
  height: 65px;
  line-height: 65px;
}

.content-header h1 {
  margin: 0;
  margin-left: 20px;
  line-height: 65px;
  display: inline-block;
}

#menu-toggle {
  display: none;
}

.inset {
  padding: 20px;
}

@media (max-width:767px) {

#wrapper {
  padding-left: 0;
}

#sidebar-wrapper {
  left: 0;
}

#wrapper.active {
  position: relative;
  left: 250px;
}

#wrapper.active #sidebar-wrapper {
  left: 250px;
  width: 250px;
  transition: all 0.4s ease 0s;
}

#menu-toggle {
  display: inline-block;
}

.inset {
  padding: 15px;
}

}
