@charset "utf-8";

@import url(http://fonts.googleapis.com/css?family=Droid+Sans);

body {
	font-family:"Droid Sans", Arial;
}

.large-page-heading {
	font-size:2.5em;
	color:#999;
}

.container-full {
	width:100%;
	overflow:hidden;
}

/*DW DASHBOARD*/

#dw-dashboard-column-two {
	display:none;
	background-color:#EBEBEB;
	margin-top:10px;
	border-radius:5px;
	-webkit-border-radius:5px;
	-moz-border-radius:5px;
	padding:10px;
	overflow-y:scroll;
}

.dw-dashboard-listing-modbox {
	overflow:hidden;
	background-color:#FFF;
	border-radius:5px;
	-webkit-border-radius:5px;
	-moz-border-radius:5px;
	padding:10px;
	transition:all 0.3s linear;
	margin-top:10px;
}

.dw-dashboard-listing-modbox:first-child {
	margin-top:0;
}

.dw-dashboard-listing-modbox:hover {
	background-color:#DDD;
	transition:all 0.3s linear;
	cursor:pointer;
}

.dw-listing-title {
	font-size:1.3em;
	font-weight:bold;
}



